body {
    font-family: Georgia;
}

#gornyll, #gornypp {
    background-color: rgb(197,85,160);
    text-align: center;
    width: 50%;
    height: 180px;
    float: left;
}

#baner, #stopka {
    background-color: rgb(246,226,222);
    text-align: center;
    height: 100px;
    padding: 10px;
    clear: both;
}

#lglowny, #pglowny {
    background-color: rgb(197,85,160);
    color: white;
    width: 50%;
    height: 400px;
    float: left;
}

table, td {
    border: 2px blue solid;
    padding: 10px;
    margin: 20px;
}

h2 {
    letter-spacing: 10px;
    font-size: 200%;
}

#odnzam {
    background-image: url("cukierki1.png");
    padding-right: 70px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}